body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: #000;
}

.timeline {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#chartdiv {
  width: 80%;
  height: 95%;
}

.demo-theme-dark .demo-background {
  background: #000;
}
